################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XICore/bin
/XICore/obj/Debug
/XIDataBase/bin
/XIDataBase/obj/Debug
/XIDNA/bin
/XIDNA/obj/Debug
/XIDNA/XIDNAErrorLog
/.vs
/XICore/XICore.csproj.user
/XIDNA.Components/bin/Debug
/XIDNA.Components/obj/Debug
/XIDNA.Models/bin/Debug
/XIDNA.Models/obj/Debug
/XIDNA.Repository/bin/Debug
/XIDNA.Repository/obj/Debug
/XIDNA.ViewModels/bin/Debug
/XIDNA.ViewModels/obj/Debug
/XIDNAAPI/bin
/XIDNAAPI/obj/Debug
/XIInfrastructure/bin
/XIInfrastructure/obj/Debug
/XIScript
/XISystem/bin
/XISystem/obj/Debug
/ZeeBNPPFServices/bin/Debug
/ZeeBNPPFServices/obj/Debug
/ZeeInsurance
/ZeePremiumFinance
/XIDNA/XIDNA.csproj.user
*.cs
*.cache
*.dll
*.xml
*.pdb
*.txt
*.CopyComplete
*.config
/XIDNA/obj/Release/Package/PackageTmp
/XIDNA/Properties/PublishProfiles
*.config
*.csproj
*.sln
packages/Newtonsoft.Json.13.0.2/README.md
packages/Newtonsoft.Json.13.0.2/packageIcon.png
packages/Newtonsoft.Json.13.0.2/Newtonsoft.Json.13.0.2.nupkg
packages/Newtonsoft.Json.13.0.2/LICENSE.md
packages/Newtonsoft.Json.13.0.2/.signature.p7s
