@model XICore.XIIComponent
@using XISystem
@using XICore
@{ 
    List<CNV> oNV = new List<CNV>();
    var InstanceID = string.Empty;
    if (Model.oContent.ContainsKey(XIConstant.CodeEditorComponent))
    {
        oNV = (List<CNV>)Model.oContent[XIConstant.CodeEditorComponent];
        InstanceID = oNV.Where(m => m.sName.ToLower() == XIConstant.Param_InstanceID.ToLower()).Select(m => m.sValue).FirstOrDefault();
    }
    string sLocalGUID = Guid.NewGuid().ToString();
}
<script>
$(document).ready(function () {
fncOpenCEdWindow();
    });
function fncOpenCEdWindow() {
        debugger
        var iInstanceID = '@InstanceID';
//$(_this).closest('tr').find('.one-1q-field-id').text();
        //var dialClose = '<button type="button" class="ui-dialog-titlebar-close"></button>'
        var windowclose = '<i class="windowClose fa fa-times" id="modalClose"></i>';
        $('.CodeEditorDiv-@sLocalGUID').html('<iframe src="https://platformfactory.in/Blockchain/XIComponents/CodeEditor?Id=' + iInstanceID +'" title="description" width="100%" height="100%" frameborder="0"></iframe>');
        	
        //window.open('/Blockchain/XIComponents/CodeEditor?Id=' + iInstanceID, '_blank');
        $("#modalClose").click(function(){
            $("#CodeEditorDiv").dialog('close');
            $("#modalClose").remove();
            //$("#CodeEditorDiv").dialog('destroy').remove();
        });
    }
</script>
<div id="CodeEditorDiv" class="CodeEditorDiv-@sLocalGUID"></div>